<body>
    <h2>Your Health Analytics</h2>
    <section id="graph">

    </section>
    <section id="analytics-section">
        <div>
            <h5 >Last 3 Months</h5>
            <div id="month-analytics">
                <div class="month-container">
                    <div id="title">
                        <h6>{{curMonth}}</h6>
                    </div>
                    <p>Average standing hours/day: </p>
                    <p>Times Moved: </p>
                    <p>Average calories burnt: </p>
                </div>
                <div class="month-container">
                    <div id="title">
                        <h6>{{prevMonth}}</h6>
                    </div>
                    <p>Average standing hours/day: </p>
                    <p>Times Moved: </p>
                    <p>Average calories burnt: </p>
                </div>
                <div class="month-container">
                    <div id="title">
                        <h6>{{twoMonthsAgo}}</h6>
                    </div>
                    <p>Average standing hours/day: </p>
                    <p>Times Moved: </p>
                    <p>Average calories burnt: </p>
                </div>
            </div>
        </div>
    </section>
</body>
