<app-alert-popup *ngIf="alertPopupVisible"></app-alert-popup>
<body>
    <div id="arrows-container">
        <section id="arrows">
            <div id="current-height">{{ apiDeskService.position$ | async }} cm</div>
            <div id="adjust-arrows">
                <button class="arrow" id="increase-height" 
                (mousedown)="onHoldIncrease()" 
                (mouseup)="clearInterval()"
                (mouseleave)="clearInterval()"
                (click)="increaseHeight()">▲</button>
        
        <button class="arrow" id="decrease-height" 
                (mousedown)="onHoldDecrease()" 
                (mouseup)="clearInterval()"
                (mouseleave)="clearInterval()"
                (click)="decreaseHeight()">▼</button>
            </div>
        </section>
    </div>
    <div>
    <button class="button" id="add-profile-button" (click)="profilePopUp()">Add Profile</button>
    <section id="profiles-section">
        <div *ngIf="isFormVisible" class="create-profile-popup">
            <div id="create-profile">
                <button (click)="profilePopUp()" class="delete-button" id="close-create">x</button>
                <p id="title">Profile title:</p>
                <input id="title-input" [(ngModel)]="profileTitle" name="profileTitle" type="text" placeholder="No Title" minlength="5" maxlength="15">

                <div id="set-height">
                    <label for="height-slider">Table height: <span class="height-value">{{height}}cm</span></label>
                    <input id="height-slider" [(ngModel)]="height" name="height" type="range" min="68" max="132" step="1" />
                </div>
                
                <p class="stand">Change desk height to <span class="height-value">{{height}}cm </span> every:</p>
                <form id="timer-form">
                    <div class="time">
                        <label for="hours">Hours</label>
                        <input id="hours" name="hours" type="number" min="0" max="23"
                        [(ngModel)]="hours" (ngModelChange)="validateHours()"/>
                    </div>
                    <div class="time">
                        <label for="minutes">Minutes</label>
                        <input id="minutes" name="minutes" type="number" min="0" max="59" 
                        [(ngModel)]="minutes" (ngModelChange)="validateMinutes()"/>
                    </div>
                </form>
                <p class="stand">Stand for:</p>
                <form id="timer-form">
                    <div class="time">
                        <label for="hours">Hours</label>
                        <input id="hours" name="hoursStanding" type="number" min="0" max="23"
                        [(ngModel)]="hoursStanding" (ngModelChange)="validateHours()"/>
                    </div>
                    <div class="time">
                        <label for="minutes">Minutes</label>
                        <input id="minutes" name="minutesStanding" type="number" min="0" max="59" 
                        [(ngModel)]="minutesStanding" (ngModelChange)="validateMinutes()"/>
                    </div>
                </form>
                <button class="button" id="save-profile-button" (click)="saveButtonHandler()">Save</button>
            </div>
        </div>
        <div class="profiles-container">
            <h5 class="profile-type-text">Default profiles</h5>
            <div class="user-profiles">
                <div *ngFor="let profile of defaultProfiles; let i = index" class="profile" 
                [class.selected]="profile.selected" (click)="profileSelected(profile)">
                    <div class="title-and-button">
                        <h6>{{ profile.title }}</h6>
                        <button class="delete-button" (click)="removeProfile(i, defaultProfiles); $event.stopPropagation()">x</button>
                    </div>
                    <p>Height: {{ profile.deskHeight }}cm</p>
                    <button class="button" (click)="editProfile(i, 'default'); $event.stopPropagation()">Edit</button>
                </div>
            </div>
            <h5 class="profile-type-text">Profiles with timer</h5>
            <div class="user-profiles">
                <div *ngFor="let profile of profiles; let i = index" class="profile" 
                [class.selected]="profile.selected"  (click)="profileSelected(profile)">
                    <div class="title-and-button">
                        <h6>{{ profile.title }}</h6>
                        <button class="delete-button" (click)="removeProfile(i, profiles); $event.stopPropagation()">x</button>
                    </div>
                    <p>Height: {{ profile.deskHeight }}cm</p>
                    <p>Desk rises every: {{ profile.timer_sitting }}</p>
                    <p>Stand for: {{ profile.timer_standing }}</p>
                    <button class="button" (click)="editProfile(i, 'timed'); $event.stopPropagation()">Edit</button>
                </div>
            </div>
        </div>
    </section>
    </div>
</body>
