<app-navigation-view></app-navigation-view>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles Section</title>
    <script src="home-view.component.ts"></script>
    <link rel="home-view.component.css" href="styles.css">
</head>
<body>
    <section id="profiles-section">
        <div>
            <h5>Create New Profile</h5>
            <div id="create-profile">
                <p id="title">Profile title:</p>
                <input id="title-input" type="text" placeholder="Write your profile title here..">

                <div id="set-height">
                    <label for="height-slider">Table Height (cm): {{ height }}</label>
                    <input id="height-slider" type="range" min="0" max="100" [(ngModel)]="height" step="1" />
                </div>
                
                <p id="stand-every">Your desk will rise every:</p>
                <form id="timer-form">
                    <div class="time">
                        <label for="hours">Hours</label>
                        <input id="hours" type="number" min="0" max="23" placeholder="0"/>
                    </div>
                    <div class="time">
                        <label for="minutes">Minutes</label>
                        <input id="minutes" type="number" min="0" max="59" placeholder="0"/>
                    </div>
                    <div class="time">
                        <label for="seconds">Seconds</label>
                        <input id="seconds" type="number" min="0" max="59" placeholder="0"/>
                    </div>
                </form>
                <button id="save-profile-button">Save Profile</button>
            </div>
        </div>
        <div id="user-profiles">
            <h1>Profiles</h1>
            <div id="profile-1">
                <h2>Profile 1: default</h2> 
                <h3>Height:</h3>
                <h3>Time interval: </h3>
            </div>
        </div>
    </section>
</body>
</html>