body {
  display: flex;
  flex-direction: column;
}

h2 {
  align-self: center;
  color: rgb(85, 179, 211);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

#profiles-section {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* CREATE PROFILE SECTION */

h5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 0;
  width: 350px;
  border: 0.5px solid rgb(199, 199, 199);
  border-radius: 30px 30px 0 0;
  background-color: lightblue;
  box-shadow: rgb(136, 136, 136) 0 10px 20px -10px;
}

#create-profile {
  display: flex;
  flex-direction: column;
  height: 355px;
  padding: 20px;
  border: 2px solid rgb(199, 199, 199);
  border-radius: 0 0 30px 30px;
  background-color: rgb(221, 221, 221);
  box-shadow: rgb(136, 136, 136) 0 10px 20px -10px;
}

#title {
  margin-bottom: 0;
  font-weight: 600;
}

#title-input {
  width: 100%;
  height: 40px;
  align-self: center;
  margin-bottom: 30px;
  border: 1.5px solid grey;
  border-radius: 5px;
  font-weight: 450;
  color: black;
}

#title-input::placeholder {
  color: black;
  opacity: 60%;
  margin-left: 10px;
}

.height-value {
  display: inline-block; /* Makes the width apply correctly */
  width: 50px; /* Adjust width as necessary to accommodate the largest value */
  text-align: center; /* Align text to the right for better readability */
}

#set-height {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 450;
}

#set-height label {
  font-weight: 600;
}

#stand-every {
  margin-bottom: 1px;
  font-weight: 600;
  white-space: nowrap;
}

#timer-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 30px;
  gap: 10px;
}

.time {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.time input {
  width: 55px;
  align-self: center;
  text-align: center;
  border: 0.2px solid black;
  border-radius: 7px;
}

.time input::placeholder {
  color: black
}

.time label {
  font-weight: 450;
}

#save-profile-button {
  padding: 5px;
  align-self: center;
  width: fit-content;
  border: 0.5px solid lightblue;
  border-radius: 60px;
  background-color: lightblue;
  box-shadow: rgb(136, 136, 136) 0 10px 20px -10px;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;

  transition: transform 0.3s ease;
}

#save-profile-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}


/* USER PROFILES SECTION */

#user-profiles {
  height: 355px;
  padding: 20px;
  overflow-y: auto;
  border: 2px solid rgb(199, 199, 199);
  border-radius: 0 0 30px 30px;
  background-color: rgb(221, 221, 221);
  box-shadow: rgb(136, 136, 136) 0 10px 20px -10px;
}

#title-and-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title-and-button button {
  padding: 0px 10px 5px 10px;
  background-color: #ff4d4d;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

#title-and-button button:hover {
  background-color: #ff1a1a;
  transform: scale(1.05);
}

.profile {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: lightblue;
}


