<body>
    <h2>Your Profiles</h2>
    <section id="profiles-section">
        <div>
            <h5>Create New Profile</h5>
            <div id="create-profile">
                <p id="title">Profile title:</p>
                <input id="title-input" [(ngModel)]="profileTitle" type="text" placeholder="No Title">

                <div id="set-height">
                    <label for="height-slider">Table Height (cm): {{ height }}</label>
                    <input id="height-slider" [(ngModel)]="height" type="range" min="0" max="100" step="1" />
                </div>

                <div id="adjust-arrows">
                    <button class="arrow" id="increase-height" (click)="increaseHeight()">▲</button>
                    <span id="current-height">{{ height }} cm</span>
                    <button class="arrow" id="decrease-height" (click)="decreaseHeight()">▼</button>
                </div>
                
                <p id="stand-every">Rise desk every:</p>
                <form id="timer-form">
                    <div class="time">
                        <label for="hours">Hours</label>
                        <input id="hours" name="hours" type="number" min="0" max="23"
                        [(ngModel)]="hours" (ngModelChange)="validateHours()"/>
                    </div>
                    <div class="time">
                        <label for="minutes">Minutes</label>
                        <input id="minutes" name="minutes" type="number" min="0" max="59" 
                        [(ngModel)]="minutes" (ngModelChange)="validateMinutes()"/>
                    </div>
                </form>
                <button id="save-profile-button" (click)="saveProfile()">Save Profile</button>
            </div>
        </div>
        <div>
            <h5>Profiles</h5>
            <div id="user-profiles">
                <div *ngFor="let profile of profiles; let i = index" class="profile">
                    <div id="title-and-button">
                        <h6>{{ profile.title }}</h6>
                        <button (click)="removeProfile(i)">x</button>
                    </div>
                    <p>Height: {{ profile.height }} cm</p>
                    <p>Time: {{ profile.time }}</p>
                </div>
            </div>
        </div>
    </section>
</body>
