@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Global styles */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
}

.register-page{
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
  margin: 2vh 0vh 12vh 0vh;
  max-width: 70vh;
  
  border-radius: 30px;
  box-shadow: 0 0 2vh rgba(0, 0, 0, 2);
  overflow: hidden;
  
}

.form-box {
  
  width: 100%;
  height: 100%;
  background: lightblue;
  display: flex;
  align-items: center;
  color: #333;
  text-align: center;
  
}

.button {
  width: 100%;
  height: 48px;
  background: #7494ec;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.form-box {
  width: 90%;
  padding: 5vh 3.5vh 12vh 3.5vh;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #333;
  border-radius: 10px;
  height: 100%;
}


.container h1 {
  font-size: 36px;
}

.input-box {
  position: relative;
  margin: 3vh 0;
}

.input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: #eee;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  z-index: 1; 
}

.input-box input::placeholder {
  color: #888;
  font-weight: 400;
}

.input-box i {
  position: absolute;
  right: 20px; /* Move icons to the right side */
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
  z-index: 2; /* Ensure icon is above the input field */
}

.combined {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.combined input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: #eee;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  z-index: 1;
}

.combined input::placeholder {
  color: #888;
  font-weight: 400;
}

.time-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.time-inputs input {
  width: 48%;
  padding: 10px;
  font-size: 16px;
  color: #333;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.button {
  width: 100%;
  height: 48px;
  background: #7494ec;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.button:hover {
  background-color: #8fa8ee;
}

.container p {
  font-size: 14.5px;
  margin: 15px 0;
}

/* Social icons section */
.social-icons {
  display: grid;
  gap: 2vh;
  grid-template-columns: repeat(auto-fit, minmax(8vh, 1fr)); 
  padding: 0vh 5vh 0vh 5vh;
}

.icon-box {
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid #7494ec;
  border-radius: 8px;
  min-height: 4vh;
  color: #333;
  text-decoration: none;
}

.icon-box i {
  text-align: center;
  padding: 1vh 1vh 0vh 1vh;
  font-size: 2em;
  color: #333;
}

select {
  width: 100%;
  padding: 13px 20px;
  background: #eee;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin: 20px 0;
}

select::placeholder {
  color: #888;
  font-weight: 400;
}