<p>login-view works!</p>
<section id="login">
    <label for="height-slider">Table height: <span class="height-value">{{defaultHeight}}cm</span></label>
    <input id="height-slider" [(ngModel)]="defaultHeight" type="range" min="68" max="132" step="1" />
    <p id="stand-every">Change desk height to <span class="height-value">{{defaultHeight}}cm</span> every:</p>
    <form id="timer-form">
        <div class="time">
            <label for="hours">Hours</label>
            <input id="hours" name="hours" type="number" min="0" max="23"
            [(ngModel)]="hours" (ngModelChange)="validateHours()"/>
        </div>
        <div class="time">
            <label for="minutes">Minutes</label>
            <input id="minutes" name="minutes" type="number" min="0" max="59" 
            [(ngModel)]="minutes" (ngModelChange)="validateMinutes()"/>
        </div>
    </form>
    <button (click)="login()">Login</button>
</section>