<body>
    <section id="graph">
        <div class="pie-chart-container">
            <div [chart]="pieChart"></div>
        </div>
    </section>
        <section id="analytics-section">
            <div>
                <div id="month-analytics">
                    <h5>Last 3 Months</h5>
                    <div class="month-container">
                        <div id="title">
                            <h6>{{curMonth}}</h6>
                        </div>
                        <p>Average standing hours/day: </p>
                        <p>Times Moved: </p>
                    </div>
                    <div class="month-container">
                        <div id="title">
                            <h6>{{prevMonth}}</h6>
                        </div>
                        <p>Average standing hours/day: </p>
                        <p>Times Moved: </p>
                    </div>
                    <div class="month-container">
                        <div id="title">
                            <h6>{{twoMonthsAgo}}</h6>
                        </div>
                        <p>Average standing hours/day: </p>
                        <p>Times Moved: </p>
                    </div>
                </div>
            </div>
        </section>
</body>
