body {
  display: flex;
  flex-direction: column;
}

h2 {
  align-self: center;
  color: rgb(85, 179, 211);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

#analytics-section {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-items: end;
  padding: 0 30px 30px 0;
  border-radius: 15px;
  font-family: Arial, sans-serif;
}

#month-analytics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#month-analytics h5 {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--darkBlue);
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #b3d1f0;
}

.month-container {
  background-color: #ffffff;
  border: 1px solid #b3d1f0;
  border-radius: 12px;
  padding: 15px;
  flex: 1;
  margin: 2px 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#title {
  margin-bottom: 15px;
}

#title h6 {
  font-size: 1.2em;
  font-weight: 600;
  color: black;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

p {
  margin: 5px 0;
  color: #333;
  font-size: 1em;
}

.pie-chart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 20px 0;
  padding: 60px 10px 10px;
  border-radius: 10px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}