<body>
    <section id="graph">
        <div class="pie-chart-container">
            <div [chart]="pieChart"></div>
        </div>
    </section>
        <section id="analytics-section">
            <div>
                <div id="month-analytics">
                    <h5>Last 3 Months</h5>
                        <div class="month-container" *ngFor="let analytics of monthAnalytics; let i = index">
                            <div id="title">
                              <h6>{{ monthNames[(curDate.getMonth() - i + 12) % 12] }}</h6>
                            </div>
                            <p>Average standing hours/day: {{ analytics.avgStandingHrs.toFixed(2) }}</p>
                            <p>Times Moved: {{ analytics.totalTimesMoved }}</p>
                        </div>
                </div>
            </div>
        </section>
</body>
