<body>
    <h1>Alert setup</h1>
    <h2>Personalise your alert settings to fit your needs.</h2>

    <div 
        class="popover-container">
        <button
            class="button button1" (click)="toggleLight()">Turn alerts on/off <!--state dependent-->
        </button><br>
    </div>

    <div
        class="popover-container">
        <button
            class="button button2"
            popovertarget="MotivationLevel1"
            popovertargetaction="toggle">Motivation level
        </button><br>
        <p popover id="MotivationLevel1">Intense</p>
        <!--<p popover id="MotivationLevel2">Intense</p>-->
    </div>

    <div
        class="popover-container">
        <button
            class="button button3"
            popovertarget="AlertIntensity"
            popovertargetaction="toggle">Alert intensity
        </button>
        <p popover id="AlertIntensity">soft</p>
    </div>
</body>
