.header {
    text-align: center;
    padding: 15px;
    background-color: rgb(132, 198, 220);
    border-bottom: 2px solid rgb(199, 199, 199);
  }
  
  .header-title {
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin: 0;
  }