<div class="popup-overlay" id="popup-overlay" (click)="onClose()">
    <div class="popup-content" (click)="$event.stopPropagation()">
      <div class="popup-header">
        <h5>Account</h5>
        <p class="close-popup-button" (click)="onClose()">X</p>
      </div>
      <div class="popup-description">
        <div class="description-group">
          <b>Name</b>
          <p>Hubert</p>
        </div>
        <div class="description-group">
          <b>Role</b>
          <p>Admin</p>
        </div>
        <div class="description-group">
          <b>Password</b>
          <div class="password-container">
              <p>*****</p>
              <p class="change-password-button">(change)</p>
          </div>
        </div>
      </div>
    </div>
  </div>