.popup-overlay {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0% 1%;
    box-sizing: border-box;
    border-bottom: 0.5px solid rgb(53, 85, 64);
}

.popup-content {
    background-color: #eeeeee;
    border-radius: 30px;
    padding: 20px;
    width: 70%;
    height: 70%;
    z-index: 100;
}


  