@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* You can add global styles to this file, and also import other style files */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background: lightblue;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 425px;
  height: 550px;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 2);
  overflow: hidden;
}

.form-box {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background: lightblue;
  display: flex;
  align-items: center;
  color: #333;
  text-align: center;
  padding: 40px;
}

form {
  width: 100%;
}

.container h1{
  font-size: 36px;
  margin: -10px 0;
}

.input-box {
  position: relative;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: #eee;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.input-box input::placeholder {
  color: #888;
  font-weight: 400;
  
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 25px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
}

.forgot-link {
  margin: -15px 0 15px;
}

.forgot-link a {
  font-size: 14.5px;
  color: #333;
  text-decoration: none;
}

.button {
  width: 100%;
  height: 48px;
  background: #7494ec;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.container p {
  font-size: 14.5px;
  margin: 15px 0;
}

.social-icons a {
  display: inline-flex;
  padding: 10px;
  border: 2px solid #7494ec;
  border-radius: 8px;
  font-size: 24px;
  color: #333;
  text-decoration: none;
  margin: 0 8px;
}

.already-logged-in {
  padding: 30px;
}

.already-logged-in h3 {
  text-align: center;
}

.already-logged-in p {
  text-align: left;
}

.button-container {
  position: static;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logout-button {
  position: absolute;
  bottom: 50px;
  padding: 10px;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: red;
  border: solid rgb(130, 3, 3) 1px;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.logout-button:hover {
  background-color: rgb(143, 11, 11);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  transform: translateY(-2px);
}

.logout-button:active {
  background-color: rgb(73, 16, 16);
  box-shadow: 0 0 0 black;
  color: #ffffff;
  transform: translateY(2px);
}
