.score-view{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: var(--primary);
    border: 5px solid var(--secondary);
    border-radius: 30px;
}

/* Leaderboard section styling */

.leaderboard-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderbord-title{
    font-size: 55px;
    margin-top: 15px;
    margin-bottom: 21px;
}

.leaderboard-list-container {
    display: flex;
    width: 573px;
    height: 348px; 
    margin-top: 20px;
}

.leaderboard-list{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: start;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 315px; 
    margin-top: 14px;
}

.leaderboard-list::-webkit-scrollbar {
    width: 0.5em;
    
}
  
.leaderboard-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}
  
.leaderboard-list::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    outline: 1px solid var(--primary);
    border-radius: 30px;
}
  
.user-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 570px;
    margin: 0px;
    font-size: x-large;

}

/* User stats section styling */

.user-score {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
}

.stats-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 345px;
    height: 280px;
    margin-left: 56px;
    margin-right: 56px;
    align-items: justify;
    justify-content: center;

}

.stats-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 40px;
    font-size: x-large;
    font-weight: bold;
}

.stats-title{
    align-self: center;
    font-size: 50px;
    margin: 10px;
}

h3 {
    opacity: 61%;
}
