<!--Streak Popup -->
<div class="popup-overlay" (click)="onClose()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <div class="popup-header">
      <h5>Streak</h5>
      <p class="close-popup-button" (click)="onClose()" >X</p>
    </div>
    <hr class="mt-0">
    <div class="popup-description">
      <div class="description-group">
        <b>Current streak:</b>
        <p>11 alerts</p>
      </div>
      <div class="description-group">
        <b>Longest streak:</b>
        <p>11 alerts</p>
      </div>
    </div>
  </div>
</div>