/* You can add global styles to this file, and also import other style files */

html, body { height:100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: linear-gradient( to bottom, 
    #DCFBF2 9%,
    #AFDFF3 71%,
    #86CEED 85%,
    #5EBEE8 100%
    );}
