<div class="popup-overlay" id="popup-overlay" (click)="onClose()">
    <div class="popup-content" (click)="$event.stopPropagation()">
      <div class="popup-header">
        <h5>Account</h5>
        <p class="close-popup-button" (click)="onClose()">X</p>
      </div>
      <div class="popup-description" *ngIf="isLoggedIn()">
        <div class="description-group">
          <b>Name</b>
          <p>{{ username }}</p>
        </div>
        <div class="description-group">
          <b>Email address</b>
          <p>{{ email }}</p>
        </div>
        <div class="description-group">
          <b>Role</b>
          <p>{{ isManager ? 'Manager' : 'User' }}</p>
        </div>
        <div class="description-group">
          <b>Password</b>
          <div class="password-container">
              <p>*****</p>
              <p class="change-password-button">(change)</p>
          </div>
        </div>
      </div>
      <div class="button-container">
        <div class="button" id="desk-button" (click)="gotoConnect(); onClose()">
          <p>Connect to a new desk</p>
        </div>
        <div class="button" id="logout-button" (click)="logOut(); onClose(); gotoLogin();">
          <p>Log out</p>
        </div>
      </div>
    </div>
  </div>