<div class="navigation-bar">

    <div class="container text-center">
        <mat-toolbar style="background-color: rgb(255, 255, 255);" class="custom-toolbar">
            <mat-toolbar-row class="navigation-container mt-1">
                <h1 class = "header-title">Healthy Desk</h1>
                <a href="" mat-button>Home</a>
                <!-- <a href="login" mat-button>Login</a> -->
                <a href="alert" mat-button>Alert</a>
                <a  mat-button href="score">Score</a>
                <a href="analytics" mat-button>Analytics</a>
                <div class="profileSection">
                    <div class="border"  (click)="streakClicked()">    
                        <span id="numberStreak">11</span>   
                        <span id="streakIcon" class="material-icons">local_fire_department</span>
                    </div>
                    <span id="userIcon" class="material-symbols-outlined" (click)="accountClicked()">account_circle</span> 
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <hr class="mt-1">   
    </div>
</div>
    
