<div class="container text-center">
    <mat-toolbar color="primary" class="custom-toolbar">
        <mat-toolbar-row class="navigation-container mt-1">
            <a href="" mat-button>Home</a>
            <!-- <a href="login" mat-button>Login</a> -->
            <a href="alert" mat-button>Alert</a>
            <a  mat-button>Score</a>
            <a href="analytics" mat-button>Analytics</a>
            <span id="userIcon" class="material-symbols-outlined">account_circle</span>    
        </mat-toolbar-row>
    </mat-toolbar>
    <hr class="mt-1">   
</div>
