
.header-title {
    position: absolute;
    left:30px;
    font-size: 28px;
    cursor: pointer;
    color: var(--lightBlue);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.13);
    margin: 0;
  
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.navigation-container{
    display: flex;
    justify-content: center;
    gap: 8px;
}

hr {
    width: 90vh;
    border-width: 2px;  
    color:var(--textColor);
    align-self: center;
}

.material-symbols-outlined {
    justify-self: flex-end;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  }


.custom-toolbar a {
    color:var(--textColor); 
    margin: 0 10px; 
    font-weight: normal;
    font-size: large;
    background-image: none;
    background-color: transparent;
}

#userIcon {
    position: absolute;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
}
